<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>品牌活动</title>
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	</head>
	<body>
	<!-- 导航 -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="{:U('Home/index/index')}" class="navbar-brand logo"><img src="__PUBLIC__/img/logo.png" alt="师大之音"></a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" style="border: none;">
						<img src="__PUBLIC__/img/menu-icon.png" alt="" />
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{:U('Home/index/index')}">师大之音</a></li>
						<li><a href="{:U('Home/play/index/id/1')}">在线收听</a></li>
						<li><a href="{:U('Home/lanmu/index')}">往期节目</a></li>
						<li><a href="{:U('Home/host/index')}">校主持队</a></li>
						<li class="active"><a href="{:U('Home/activity/index')}">品牌活动</a></li>
						{$url1}
					</ul>
				</div>
			</div>
		</nav>
		<!--轮播-->
		<div id="myCarousel" class="carousel slide" style="margin-top: 60px;">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="__PUBLIC__/img/host-lunbo1.png"  alt="第一张">
				</div>
				<div class="item">
					<img src="__PUBLIC__/img/lunbo1.png"  alt="第二张">
				</div>
				<div class="item">
					<img src="__PUBLIC__/img/activity-banner.png"  alt="第三张">
				</div>
			</div>
			<a href="#myCarousel" data-slide="prev" class="carousel-control left">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a href="#myCarousel" data-slide="next" class="carousel-control right">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
		<!-- Brand activities-->
		<div class="tab8">
			<div class="container">
				<h2 class="tab-h2" style="margin-bottom: 10px;">Br<span style="border-bottom: 1px solid #333;">and avtiviti</span>es</h2>
				<p class="tab-p" style="text-align: center;">品牌活动</p>
				<div class="row" style="margin-top: 30px;">
					<volist name="activitylist" id="activity" offset="0" length='4'>
					<div class="col-sm-3" >
						<a href="../activity2/index/id/{$activity.activityid}">
						<img src="__ROOT__/{$activity.activitysmallpicture}" class="img-responsive center-block" /></a>
					</div>
                      </volist>
				</div>
			</div>
		</div>
		<!-- Our memoriers-->
		<div class="tab9">
			<div class="container">
				<h2 class="tab-h2" style="margin-bottom: 10px;">O<span style="border-bottom: 1px solid #333;">ur Memorie</span>s</h2>
				<p class="tab-p" style="text-align: center;">精彩瞬间</p>
				<div class="row">
					<div class="col-sm-3" style="margin-top: 20px;">
						<img src="__PUBLIC__/img/memories1.png" class="img-responsive center-block" alt="" />
					</div>
					<div class="col-sm-3" style="margin-top: 20px;">
						<img src="__PUBLIC__/img/memories2.png" class="img-responsive center-block" alt="" />
					</div>
					<div class="col-sm-3" style="margin-top: 20px;">
						<img src="__PUBLIC__/img/memories3.png" class="img-responsive center-block" alt="" />
					</div>
					<div class="col-sm-3" style="margin-top: 20px;">
						<img src="__PUBLIC__/img/memories4.png" class="img-responsive center-block" alt="" />
					</div>
					<div class="col-sm-3" style="margin-top: 20px;">
						<img src="__PUBLIC__/img/memories5.png" class="img-responsive center-block" alt="" />
					</div>
					<div class="col-sm-3" style="margin-top: 20px;">
						<img src="__PUBLIC__/img/memories6.png" class="img-responsive center-block" alt="" />
					</div>
					<div class="col-sm-3" style="margin-top: 20px;">
						<img src="__PUBLIC__/img/memories7.png" class="img-responsive center-block" alt="" />
					</div>
					<div class="col-sm-3" style="margin-top: 20px;">
						<img src="__PUBLIC__/img/memories8.png" class="img-responsive center-block" alt="" />
					</div>
				</div>
				<div class="row" style="margin-top: 50px;">
					<div class="col-md-12">
						<img src="__PUBLIC__/img/memory11.png" class="img-responsive center-block" alt="" />
					</div>
				</div>
			</div>
		</div>
		<!--底部-->
		<div class="container">
			<footer>
				<p class="footer-p" style="border-bottom: 5px solid #999;padding-bottom: 30px;">广天下之事·播百家之言</p>
				<p class="tab-p1" style="text-align: center;color: #666;margin-top: 20px;font-size: 18px;">北京师范大学珠海分校师大之音广播台 版权所有<br />地址：广东省珠海市唐家湾镇金凤路18号北京师范大学珠海分校粤华三栋 邮编：519000</p>
			</footer>
		</div>

		<script src="__PUBLIC__/js/jquery.min.js"></script>
		<script src="__PUBLIC__/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			//轮播自动播放
			$('#myCarousel').carousel({
				//自动4秒播放
				interval: 4000,
			});
			//设置文字垂直居中，谷歌浏览器加载图片的顺序问题，导致高度无法获取
			$(window).load(function() {
				$('.text').eq(0).css('margin-top', ($('.auto').eq(0).height() - $('.text').eq(0).height()) / 2 + 'px');
			});
			$(window).resize(function() {
				$('.text').eq(0).css('margin-top', ($('.auto').eq(0).height() - $('.text').eq(0).height()) / 2 + 'px');
			});
			$(window).load(function() {
				$('.text').eq(1).css('margin-top', ($('.auto').eq(1).height() - $('.text').eq(1).height()) / 2 + 'px');
			});
			$(window).resize(function() {
				$('.text').eq(1).css('margin-top', ($('.auto').eq(1).height() - $('.text').eq(1).height()) / 2 + 'px');
			});
		</script>
	</body>
</html>