<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>主持队主页</title>
		<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
		<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	</head>
	<body style="background-color: #eae9e9;">
		<!-- 导航 -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="{:U('Home/index/index')}" class="navbar-brand logo"><img src="__PUBLIC__/img/logo.png" alt="师大之音"></a>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" style="border: none;">
						<img src="__PUBLIC__/img/menu-icon.png" alt="" />
					</button>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{:U('Home/index/index')}">师大之音</a></li>
						<li><a href="{:U('Home/play/index/id/1')}">在线收听</a></li>
						<li><a href="{:U('Home/lanmu/index')}">往期节目</a></li>
						<li><a href="{:U('Home/host/index')}">校主持队</a></li>
						<li><a href="{:U('Home/activity/index')}">品牌活动</a></li>
						{$url1}
					</ul>
				</div>
			</div>
		</nav>
		<!--轮播-->
		<div id="myCarousel" class="carousel slide" style="margin-top: 60px;">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="__PUBLIC__/img/lunbo1.png"  alt="第一张">
				</div>
				<div class="item">
					<img src="__PUBLIC__/img/host-lunbo1.png"  alt="第二张">
				</div>
				<div class="item">
					<img src="__PUBLIC__/img/activity-banner.png"  alt="第三张">
				</div>
			</div>
			<a href="#myCarousel" data-slide="prev" class="carousel-control left">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a href="#myCarousel" data-slide="next" class="carousel-control right">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
		<!-- 校主持队 -->
		<div class="tab5">
			<div class="container">
				<h2 class="tab-h2">校主持队<br />Host team of BNUZ</h2>
				<div class="row" style="background-color: #fbfcfc;">
					<div class="col-md-6">
							<div class="host-body">
								<h4 class="tab-h4">师大之音广播台校主持队</h4>
								<p class="tab-p">师大之音广播台校主持队，这里给你足够的舞台。交流分享，弥补改正，共同进步<br />这里不仅仅是机会，更是成长。甜品店、餐厅、演出现场，<br />这里有友谊，更有与你并肩作战的朋友。<br />这里，年轻、激情、梦想。<br /><br />2014.10 我们刚刚起步，<br />2015.06 我们承揽校内校外众多活动的<br />主持与策划，但我们还在成长。2015.09 我们需要你，一个敢梦敢想，<br />为梦发声的下一个闪亮主持。校主持人队，一心为梦，共同向前，<br />我们这里等你。</p>
								<div class="more">
									<a href="{:U('Home/team/index')}"><input type="button" style="font-size: 20px;" value="> Read More"></a>
								</div>
						</div>
					</div>
					<div class="col-md-6">
							<img src="__PUBLIC__/img/host-team.png" class="img-responsive center-block" style="margin-top: 30px;margin-bottom: 20px;" />
					</div>
				</div>
			</div>
		</div>
		<!-- OUR TRAM -->
		<div class="tab6">
			<div class="container">
				<h2 class="tab-h2">OUR TEAM</h2>
				<div class="row" style="background-color: #fbfcfc;">
					<div class="col-md-12">
					<div class="col-md-4 col-sm-4 tab6-margin">
					
						<img src="__PUBLIC__/img/team1.png" class="img-responsive center-block" alt="" />
					</div>
					<div class="col-md-8 col-sm-8 tab6-margin" style="text-align: center;">
						<h3 class="tab-h3">陈建武</h3>
						<p class="tab-p"><b>师大之音广播台副台长、第一届主持队队长</b></p>
						<p class="tab-p1">前外院学生会副主席,现任师大之音广播台副台长<br />第一届主持队队长苦心经营主持队有着非常广的人脉。</p>
					</div>
					</div>
					<div class="clear"></div>
					<br />
					<div class="col-md-12">
					<div class="col-md-4 col-sm-4 tab6-margin tab6-img">
						
						<img src="__PUBLIC__/img/team2.png" class="img-responsive center-block" alt="" />
					</div>
					<div class="col-md-8 col-sm-8 tab6-margin tab6-text" style="text-align: center;">
						<h3 class="tab-h3">马宇晴</h3>
						<p class="tab-p"><b>主持队队长，中文部副部长</b></p>
						<p class="tab-p1">现任主持队队长，同时担任师大之音广播台中文部副部长<br />2014级播音主持专业女神，有着良好的专业素养。</p>
					</div>
					</div>
					<div class="clear"></div>
					<br />
					<div class="col-md-12">
					<div class="col-md-4 col-sm-4 tab6-margin" >
						
						<img src="__PUBLIC__/img/team3.png" class="img-responsive center-block" alt="" />
					</div>
					<div class="col-md-8 col-sm-8 tab6-margin" style="text-align: center;">
						<h3 class="tab-h3">潘志航</h3>
						<p class="tab-p"><b>主持队队长，中文部副部长</b></p>
						<p class="tab-p1">是拥有过万粉丝的网红一枚，现任主持队副队长<br />同时担任师大之音广播台中文部副部长，2014级播音主持专业男神。</p>
					</div>
					</div>
					<div class="clear"></div>
					<br />
					<div class="col-md-12">
					<div class="col-md-4 col-sm-4 tab6-margin tab6-img">
						
						<img src="__PUBLIC__/img/team4.png" class="img-responsive center-block" alt="" />
					</div>
					<div class="col-md-8 col-sm-8 tab6-margin tab6-text" style="text-align: center;">
						<h3 class="tab-h3">申博扬</h3>
						<p class="tab-p"><b>主持队副队长</b></p>
						<p class="tab-p1">现任校主持队副队长，活跃于创行等组织<br />拥有很强的专业性和广泛的人脉。</p>
					</div>
					</div>
					<div class="clear"></div>
					<br />
				</div>
			</div>
		</div>
		<!-- OUR NEWS -->
		<div class="tab7">
			<div class="container">
				<h2 class="tab-h2">OUR NEWS</h2>
				<div class="row">
					<div class="col-md-6" style="padding-left: 0;padding-right: 0;">
						<img src="__PUBLIC__/img/news1.png" width="100%" class="img-responsive"/>
					</div>
					<div class="col-md-6" style="text-align: center;">
						<h3 class="tab-h3">Host team of BNUZ</h3>
						<p class="tab-p"><b>校主持队</b></p>
						<p class="tab-p1" style="line-height: 30px;">这里给你足够的舞台。交流分享，弥补改正，共同进步，<br />这里不仅仅是机会，更是成长。甜品店、餐厅、演出现场，<br />这里有友谊，更有与你并肩作战的朋友。这里，年轻、激情、梦想。</p>
						<div class="more">
									<a href="{:U('Home/team/index')}"><input type="button" style="font-size: 20px;" value="> 活动邀约"></a>
						</div>
					</div>
				</div>
				<div class="row">
						<div class="col-md-6 tab6-img" style="padding-left: 0;padding-right: 0;">
						<img src="__PUBLIC__/img/news1.png" width="100%" class="img-responsive"/>
					</div>
					<div class="col-md-6 tab6-text" style="text-align: center;">
						<h3 class="tab-h3">The 3rd Host team of BNUZ</h3>
						<p class="tab-p"><b>校主持队</b></p>
						<p class="tab-p1" style="line-height: 30px;">新一届主持队由马宇晴、潘志航、申博扬队长领导<br />
						有林晶晗、林均和、李玲慧、刘银寺、郝晨欣、孙铭泽、
						成栩莹、张宇辉、冯佳、方良文、谭湘雯、<br />
						杨力帆、赵俊等十三位队员组成</p>
						<div class="more">
									<a href="{:U('Home/team/index')}"><input type="button" style="font-size: 20px;" value="> 查看个人"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!--底部-->
		<div class="container">
			<footer>
				<p class="footer-p" style="border-bottom: 5px solid #999;padding-bottom: 30px;">广天下之事·播百家之言</p>
				<p  class="tab-p1" style="text-align: center;color: #666;margin-top: 20px;font-size: 18px;">北京师范大学珠海分校师大之音广播台 版权所有<br />地址：广东省珠海市唐家湾镇金凤路18号北京师范大学珠海分校粤华三栋 邮编：519000</p>
			</footer>
		</div>

		<script src="__PUBLIC__/js/jquery.min.js"></script>
		<script src="__PUBLIC__/js/bootstrap.min.js"></script>
		<script type="text/javascript">
			//轮播自动播放
			$('#myCarousel').carousel({
				//自动4秒播放
				interval: 4000,
			});
			//设置文字垂直居中，谷歌浏览器加载图片的顺序问题，导致高度无法获取
			$(window).load(function() {
				$('.text').eq(0).css('margin-top', ($('.auto').eq(0).height() - $('.text').eq(0).height()) / 2 + 'px');
			});
			$(window).resize(function() {
				$('.text').eq(0).css('margin-top', ($('.auto').eq(0).height() - $('.text').eq(0).height()) / 2 + 'px');
			});
			$(window).load(function() {
				$('.text').eq(1).css('margin-top', ($('.auto').eq(1).height() - $('.text').eq(1).height()) / 2 + 'px');
			});
			$(window).resize(function() {
				$('.text').eq(1).css('margin-top', ($('.auto').eq(1).height() - $('.text').eq(1).height()) / 2 + 'px');
			});
		</script>
	</body>
</html>
