<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css">
	<style type="text/css">
		.navbar{
			background-color: #f8f8f8;
		}
	</style>
</head>
<!-- 导航 -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="index.html" class="navbar-brand logo"><img src="__PUBLIC__/img/logo.png" alt="师大之音"></a>
		</div>
	</div>
</nav>

<div class="concainer">
<div class="leftadmin">
	<div style="padding-left: 20%;padding-top: 10%">
		<ul class="admin-ul" id="Myul">
			<li>节目</li>
			<ul><li><a href="{:U('Admin/Index/index')}" >节目上传</a></li>
				<li><a href="{:U('Admin/Pchange/index')}" >节目修改</a></li>
				<li><a href="{:U('Admin/Pcomment/index')}" >节目留言</a></li>
			</ul>
			<li>用户管理</li>
			<ul><li><a href="{:U('Admin/Usermessage/index')}" >用户信息</a></li>
			</ul>
			<li>主持队活动</li>
			<ul><li><a href="../Hmessage/index/p/1" >主持队信息</a></li>
				<li><a href="{:U('Admin/Hcomment/index')}">主持队留言</a></li>
				<li><a href="{:U('Admin/Happointment/index')}" >主持队邀约</a></li>
			</ul>
			<li>公告通知</li>
			<ul>
				<li><a href="{:U('Admin/Join/index')}" >活动报名</a></li>
			</ul>
		</ul>
	</div>
</div>
<div class="rightadmin">
	<div style="padding-top: 5%">
		<table class="simpletable">
			<tr class="tableleading">
				<td>邀请主持人</td>
				<td>邀请人</td>
				<td>联系方式</td>
				<td>具体活动</td>
				<td>时间</td>
				<td>地点</td>
				<td>活动</td>
				<td>删除邀请</td>
			</tr>
			<volist name="data" id="vo">
				<tr>
					<td>{$vo.hostname}</td>
					<td>{$vo.invitename}</td>
					<td>{$vo.invitenumber}</td>
					<td>{$vo.invitemain}</td>
					<td>{$vo.invitetime}</td>
					<td>{$vo.inviteplace}</td>
					<td>{$vo.invitecontent}</td>
					<td><a href="__CONTROLLER__/shanchu/inviteid/{$vo.inviteid}" onclick="return confirm('您确定要删除该邀请吗？')">删除</a></td>
				</tr>
			</volist>
		</table>
				</div>
			</div>
	</div>
</html>