<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
</head>
<body>
<!-- 导航 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand logo"><img src="__PUBLIC__/img/logo.png" alt="师大之音"></a>
        </div>
    </div>
</nav>
<!--目录-->
<div class="concainer">
    <div class="leftadmin">
        <div style="padding-left: 20%;padding-top: 10%">
            <ul class="admin-ul" id="Myul">
                <li>节目</li>
                <ul><li><a href="{:U('Admin/Index/index')}" >节目上传</a></li>
                    <li><a href="{:U('Admin/Pchange/index')}" >节目修改</a></li>
                    <li><a href="{:U('Admin/Pcomment/index')}" >节目留言</a></li>
                </ul>
                <li>用户管理</li>
                <ul><li><a href="{:U('Admin/Usermessage/index')}" >用户信息</a></li>
                </ul>
                <li>主持队活动</li>
                <ul><li><a href="../Hmessage/index/p/1" >主持队信息</a></li>
                    <li><a href="{:U('Admin/Hcomment/index')}">主持队留言</a></li>
                    <li><a href="{:U('Admin/Happointment/index')}" >主持队邀约</a></li>
                </ul>
                <li>公告通知</li>
                <ul>
                    <li><a href="{:U('Admin/Join/index')}" >活动报名</a></li>
                </ul>
            </ul>
        </div>
    </div>
<!--节目修改-->
    <div class="rightadmin">
        <div style="padding: 5%">
            <table class="simpletable" >
                <tr class="tableleading"><td width="50px">节目id</td><td width="50px" >节目名</td><td width="60px">节目时间</td><td >节目介绍</td><td width="50px">节目图片</td><td width="50px">修改</td></tr>
                 <volist name="programselect" id="program">
                <tr><td>{$program.programid}</td><td>{$program.programname}</td><td>{$program.programdate}</td><td>{$program.programinstruction}</td><td><img src="__ROOT__/{$program.programpicture}" width="100px" height="100px" alt="" /></td><td><a href="change/id/{$program.programid}">修改</a> </td></tr>
             </volist>
          </table>
        </div>
    </div>
</div>
<script>
    audiojs.events.ready(function() {
        var as = audiojs.createAll();
    });
</script>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
</body>
</html>